@{
    ViewData["Title"] = "CodexBit";
}
@model IEnumerable<PostModel>

<head>
    <style>
        .post-card {
            margin-bottom: 2rem;
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.22) 0px 10px 10px;
            transition: transform 0.2s;
        }

        .post-card:hover {
            transform: translateY(-3px);
        }

        .post-image {
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.22) 0px 5px 5px;
            max-height: 330px;
        }
    </style>
</head>

<div class="container mt-5">
    <h1 class="fw-bold mb-4">Ultimas noticias</h1>

    <div class="posts">
        @foreach (var post in Model)
        {
            <div class="post-card row g-0 position-relative">
                <div class="col-md-6 mb-md-0 p-md-4">
                    <img src="@post.ImageURL" class="post-image w-100" alt="Imagem do post">
                </div>

                <div class="post-content col-md-6 p-4 ps-md-0">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3>@post.Title</h3>
                    </div>

                    <div class="text-muted mb-3">
                        @CodexBit.Services.TimeHelperService.TimeAgo(post.CreatedAt)
                    </div>

                    <p class="text-secondary">@post.Description</p>

                    <a href="@post.Id" class="btn btn-outline-primary stretched-link">Leia mais <i class="bi bi-caret-right"></i> </a>
                </div>
            </div>
        }
    </div>
</div>
